[package]
name = "yogurt_sim"
version = "0.1.0"
edition = "2018"

# [lib]
# crate-type = ["rlib", "cdylib"]

[dependencies]
# you can check the latest version here: https://crates.io/crates/yew
yew = "^0.19"
